@import url('./reset.css');

:root {
  --body-bg-color: #14161d;
  --header-bg-color: #1f2229;
  --file-name-color: #bdbdbd;
  --header-menu-color: #fcfcfc;
  --header-menu-color-hover: #52abff;
  --header-title-color: #3fa2ff;
  --post-box-bg-color: #1f2229;
  --post-box-button-bg-color: #2993ff;
  --post-box-button-color: #e2f0ff;
  --post-box-textarea-color: #97989b;
}

/* html */
body {
  background-color: var(--body-bg-color);
}

/* class */
.button {
  font-size: 0px;
}

.center {
  display: grid;
  place-content: center;
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.file-name {
  color: var(--file-name-color);
  font-size: 15px;
  margin-left: 10px;
}

.flex {display: flex;}

.input-img {font-size: 0px;}

.header-menu {font-size: 0px;}

.header-title {font-size: 0px;}

.post-box {
  background-color: var(--post-box-bg-color);
  border-radius: 10px;
  font-size: 0px;
  margin: 50px 0px;
  padding: 15px;
  width: 600px;
}

.user {font-size: 0px;}

/* header */
header {
  background-color: var(--header-bg-color);
  height: 50px;
  line-height: 50px;
}

header .flex {
  justify-content: space-between;
}

header .header-title h1 {
  color: var(--header-title-color);
  font-size: 24px;
}

header .header-menu nav li {
  color: var(--header-menu-color);
  cursor: pointer;
  display: inline;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
}

header .header-menu nav li + li {
  margin-left: 15px;
}

header .header-menu nav li:hover {
  color: var(--header-menu-color-hover);
}

header .user img {
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  margin: 5px 0px;
  width: 40px;
}
/* main */
main .post-box textarea {
  background-color: transparent;
  color: #97989b;
  font-size: 18px;
  height: 150px;
  padding: 10px;
  resize: none;
  width: 600px;
}

main .post-box .flex {
  height: 40px;
  justify-content: space-between;
  line-height: 40px;
}

main .post-box .flex .input-img input[type=file] {
  display: none;
  line-height: 40px;
}

main .post-box .flex .input-img label i {
  cursor: pointer;
  font-size: 25px;
  line-height: 40px;
}

main .post-box .flex .button button {
  background-color: var(--post-box-button-bg-color);
  border-radius: 5px;
  color: var(--post-box-button-color);
  font-size: 18px;
  line-height: 40px;
  width: 80px;
}